:root {
  --bg: #1a1e2d;
  --green: #a5ea9b;
  --pink: #ff61d8;
  --blue: #569cfa;
  --orange: #ffcc81;
  --cyan: #7ed1e2;
}

html {
  font-size: 22px;
  height: 100vh;
  width: 100vw;
}
body {
  font-family: 'Poppins'; 
  padding: 1rem;
  margin: auto;
   display: grid; 
   grid-template-columns: 1fr; 
   grid-template-rows: 1fr 1fr;
  grid-gap: 0em; 
  overflow: visible;
  justify-items: center; 
  align-items: center; 
  height: 100%;
  background-color: #1a1e2d;
}

.card {
  background-color: #1a1e2d;
  color: white;
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Screen larger than 600px? 2 column */
@media (min-width: 500px) {
  body {
    grid-gap: 1em; 
    grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  overflow: hidden;
  }
}

svg {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#bongo-cat {
  fill: var(--bg);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 4;
}
#bongo-cat .laptop-cover,
#bongo-cat .headphone .band {
  fill: none;
}
#bongo-cat .paw,
#bongo-cat .head {
  stroke: var(--orange);
}
#bongo-cat .laptop-keyboard {
  stroke-width: 2;
}
#bongo-cat .terminal-code {
  stroke-width: 5;
}
#bongo-cat .music .note,
#bongo-cat .laptop-base,
#bongo-cat .laptop-cover,
#bongo-cat .paw .pads {
  stroke: var(--pink);
}
#bongo-cat .table line,
#bongo-cat .headphone .band,
#bongo-cat .headphone .speaker path:nth-child(3) {
  stroke: var(--green);
}
#bongo-cat .terminal-frame,
#bongo-cat .laptop-keyboard,
#bongo-cat .headphone .speaker path:nth-child(2) {
  stroke: var(--blue);
}
#bongo-cat .terminal-code,
#bongo-cat .headphone .speaker path:first-child {
  stroke: var(--cyan);
}







.parallax{
  height: 100vh;
  width: 100vh;
}
.form-container {
  width: 40vw;
  max-width: 100%;
  background: #fff;
  box-shadow: 0px 10px 25px -5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #050d17 0%, #1a1e2d 100%);
  border: 2px solid #fff;
}
body .form-container .ion-android-done {
  color: #fff;
  font-size: 60px;
  align-self: center;
}
body .form-container.transitioned-3 {
  animation: swoosh 1s 1;
}
.belt {
  width: 300%;
  display: flex;
  transition: transform 300ms ease-in-out;
}
body .form-container .belt.transitioned-1 {
  transform: translateX(-33%);
}
body .form-container .belt.transitioned-2 {
  transform: translateX(-66%);
}
body .form-container .progress-wrapper, body .form-container .success-wrapper,
body .form-container .form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding: 20px;
}
.form-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 h2 {
  color: #fff;
}
body .form-container .progress-wrapper input, body .form-container .progress-wrapper textarea, body .form-container .success-wrapper input, body .form-container .success-wrapper textarea,
body .form-container .form input,
body .form-container .form textarea {
  display: block;
  width: 95%;
  max-width: 93%;
  margin: 10px 0;
  padding: 10px;
  outline: none;
  border: none;
  border-bottom: 2px solid #fff;
  background: #333;
  color: #fff;
  caret-color: #fff;
}
body .form-container .progress-wrapper input::placeholder, body .form-container .progress-wrapper textarea::placeholder, body .form-container .success-wrapper input::placeholder, body .form-container .success-wrapper textarea::placeholder,
body .form-container .form input::placeholder,
body .form-container .form textarea::placeholder {
  color: #fff;
  transition: color 0.2s;
  font-size: 14px;
}
body .form-container .progress-wrapper input:focus::placeholder, body .form-container .progress-wrapper textarea:focus::placeholder, body .form-container .success-wrapper input:focus::placeholder, body .form-container .success-wrapper textarea:focus::placeholder,
body .form-container .form input:focus::placeholder,
body .form-container .form textarea:focus::placeholder {
  color: transparent;
}
button  {
  background: #fff;
  border: none;
  color: #222;
  padding: 12px;
  border-radius: 7px;
  align-self: flex-end;
  margin: 10px 10px 10px 0;
  box-shadow: 0px 10px 13px -12px rgba(0, 0, 0, 0.3);
  outline: none;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
body .form-container .progress-wrapper h2, body .form-container .success-wrapper h2,
body .form-container .form h2 {
  color: #fff;
  font-weight: 300;
}
body .form-container .progress-div {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body .form-container .progress-div h3 {
  color: rgba(255, 255, 255, 0.9);
}
body .form-container .progress-div .progress-outer {
  width: 150px;
  height: 20px;
  background: #fff;
  padding: 5px;
  box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
body .form-container .progress-div .progress-outer .progress-inner {
  background-color: #1b2735;
  border-radius: 5px;
  height: 20px;
  width: 0%;
}
body .form-container .progress-div .progress-outer .progress-inner.loading {
  animation: loading 3s 1 300ms forwards;
}
body .form-container .success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
}
body .form-container .success h2 {
  color: rgba(255, 255, 255, 0.9);
}
body .form-container .success button {
  align-self: center;
  font-size: 14px;
}
body button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 10px 23px -17px rgba(0, 0, 0, 0.3);
}

@keyframes swoosh {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  10% {
    transform: translateY(10px);
    opacity: 1;
  }
  50%, 70% {
    transform: translateY(-150%);
    opacity: 0;
  }
  80% {
    transform: translateY(-50%);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes loading {
  0%, 30% {
    width: 0%;
  }
  30% {
    width: 10%;
  }
  40% {
    width: 40%;
  }
  50% {
    width: 50%;
  }
  60%, 70% {
    width: 70%;
  }
  100% {
    width: 100%;
  }
}


.container{
  width: 40vw;
  min-height: 500px;
  max-width: 100%;
  margin-right: 50px;
  margin-top: 100px;
  overflow: visible;
  background: transparent;
}

/* Media queries */
@media screen and (max-width: 428px) {


  p{
    font-size: small;
  }

  button {
    background: #fff;
    border: none;
    color: #222;
    padding: 8px;
    border-radius: 7px;
    align-self: flex-end;
    box-shadow: 0px 10px 13px -12px rgba(0, 0, 0, 0.3);
    outline: none;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .form-container {
    font-size: 10px;
    width: 80vw;
    max-width: 100%;
    background: #fff;
    box-shadow: 0px 10px 25px -5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    border: 2px solid #fff;
  }

}
